.GameArea {
  display: flex;
  flex-direction: column; /* Change to column to stack children vertically */
  align-items: center; /* Center children horizontally */
  margin: 0 auto;
  position: absolute;
  top: 4em;
  width: 95%;
}
