/* Flexbox styling for GameArea and Card */
.GameAreaGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  background-color: rgb(240, 245, 247);
  min-height: calc(100vh - 10em); /* Exclude space for the title */
  padding: 2px;
}

.Card {
  padding: 2px;
  border: 1px solid #3d3d3d;
  border-radius: 10px;
  width: 100%;
  min-height: 150px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto; /* This will add scroll bars as needed (horizontally and/or vertically) */
  position: relative;
}

.text {
  align-self: flex-start;
}

.answer {
  align-self: flex-end;
}

.centered_input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.celebrationGrid {
  font-size: 12em;
  position: fixed; /* Changed from absolute to fixed */
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: moveUpDownGrid 1s linear infinite;
}
@keyframes moveUpDownGrid {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}
