/* Styles for the main container */
.image-reveal-container {
  position: relative;
  top: 3px; /* Adjusted to give space for the title and instructions */
  width: calc(100vw - 2em) !important; /* Adjusted to give space on the sides */
  height: calc(
    100vh - 12em
  ); /* Adjusted to give space for the title and instructions */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Styles for the image */
.image-reveal-image {
  max-width: 100%;
  max-height: calc(100vh - 12em);
}

/* Styles for the instruction div */
.image-reveal-instruction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}

/* Styles for the overlay boxes */
.image-box {
  position: absolute;
  background-color: rgba(173, 216, 230, 1);
  border: 1px solid gray;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Safari, and Firefox 69+ */
}

.image-box-reveal {
  cursor: none !important;
  animation-name: dissolve; /* Refer to the keyframes rule */
  animation-duration: 1.5s; /* Animation lasts for 1.5 seconds */
  animation-fill-mode: forwards; /* Keeps the box at the final state of the animation */
}

@keyframes dissolve {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
