.interactiveTitle {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2px;
  text-align: center;
  color: #333;
}

.instructions {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: #333;
}

h1 {
  text-align: center;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #419bfc;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 2px;
}

button:hover {
  background-color: #228afa;
}

.interactiveContainer {
  background-color: rgb(220, 244, 252);
  min-height: calc(
    100vh - 10em
  ); /* Adjusted to give space for the title * instructions */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.interactiveBox {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  margin: 20px;
}

.categoryBox.over {
  background-color: lightgray;
}

.interactiveTextArea {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  resize: none;
  border-radius: 5px;
  padding: 20px;
}

.fileUpload {
  padding-bottom: 20px;
}
