.interactiveContainer {
  height: calc(100vh - 12em) !important; /* Exclude space for the title */
  min-height: calc(100vh - 12em) !important;
}

.celebration {
  position: fixed; /* Use fixed to keep it in view even on scroll, or absolute for within the layout context */
  top: 20%;
  left: 50%;
  font-size: 8em;
  /* Center the element with transform */
  transform: translate(-50%, -50%);
  transform-origin: 0% 0%;
  z-index: 9999; /* Ensure it's above other elements */
  animation: scale 1s 3 forwards, hide 0.1s 3s forwards;
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1) translate(-50%, -50%); /* Maintain centering during animation */
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
  }
}

@keyframes hide {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.stackContainer {
  border: 2px solid transparent; /* Initial border color */
  padding: 10px;
  transition: border-color 0.5s ease-in-out; /* Smooth transition for border color */
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.stackItem {
  padding: 10px 20px;
  margin: 8px 0;
  background-color: #f0f0f0; /* Light grey background */
  border-radius: 20px; /* Rounded corners */
  font-size: 1.2em;
  cursor: grab;
  border: 1px solid black;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Safari, and Firefox 69+ */
}

.correctFlash {
  animation: correctFlash 1s;
}

@keyframes correctFlash {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: green;
  }
}

.incorrectFlash {
  animation: incorrectFlash 1s;
}

@keyframes incorrectFlash {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}
