.phraseMemoriseContainer {
  background-color: lightblue;
  height: calc(100vh - 10em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.phraseMemoriseBox {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.letter {
  font-size: 2em;
  display: inline-block;
  width: 0.8em; /* Adjust as needed for desired spacing */
  font-family: "Courier New", Courier, monospace; /* Monospace font */
}

.clickableWord {
  margin-right: 1.4em;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}
