.GameArea {
  margin: 0 auto;
  position: absolute;
  top: 5%;
}

.interactiveTitle {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2px;
  text-align: center;
  color: #333;
}

.instructions {
  font-size: 1.2em;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  color: #333;
}
