.quizBoardContainer {
  background-color: lightblue;
  min-height: calc(100vh - 9em);
  padding: 20px 0;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  gap: 10px;
  width: 98%;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  width: 100%;
  height: 18vh;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  padding: 5px;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question:not(:has(.top-left)) {
  justify-content: center;
  text-align: center;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.grey {
  background-color: darkgray;
}

.qtext {
  font-size: 1.3em;
  width: 100%;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.qtext.top-left {
  align-items: left !important;
}

.katex span {
  display: inline-block !important;
}
