.GameArea {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 12em); /* Exclude space for the title */
  padding: 0;
  position: relative;
}

.celebration {
  font-size: 100pt;
  text-align: center;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
