.celebration {
  font-size: 12em;
  position: absolute;
  top: 25%;
  left: 50%;
  animation: bounce 1s infinite;
}

.GameArea {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  min-height: calc(100vh - 10em); /* Exclude space for the title */
  padding: 20px 0;
  border: 2px solid black;
  position: relative;
}

.pauseButton {
  padding: 10px 15px;
  font-size: 30px;
  margin-top: 10px; /* Adjust as needed */
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -30px);
  }
  60% {
    transform: translate(-50%, -15px);
  }
}
