.celebration {
  font-size: 12em;
  position: absolute;
  top: 25%;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: moveUpDown 1s linear infinite;
}

.GameArea {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  height: calc(100vh - 12em); /* Exclude space for the title */
  padding: 20px 0;
  border: 2px solid black;
  position: relative;
}
