.wordCompleteContainer {
  background-color: lightblue;
  height: calc(100vh - 10em);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Add vertical scroll if necessary */
  max-height: calc(100vh - 10em);
}

.textArea {
  font-size: 1.3em;
  font-family: "Arial", sans-serif;
  border: 2px solid black;
  padding: 20px;
  white-space: pre-line;
  margin: auto 0; /* This will vertically center the textArea when there's available space */
}

.missingInput {
  font-size: 1.3em;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.missing {
  white-space: nowrap;
}

.wrong {
  border-color: red;
  background-color: #ffe6e6;
}

.score {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

.star {
  color: gold;
}

.correctWordContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 100;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.mistakes {
  font-size: 2em;
  color: red;
  min-height: 2em;
}

.celebration {
  position: fixed; /* Use fixed to keep it in view even on scroll, or absolute for within the layout context */
  top: 20%;
  left: 50%;
  font-size: 8em;
  /* Center the element with transform */
  transform: translate(-50%, -50%);
  transform-origin: 0% 0%;
  z-index: 9999; /* Ensure it's above other elements */
  animation: scale 1s 3 forwards, hide 0.1s 3s forwards;
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1) translate(-50%, -50%); /* Maintain centering during animation */
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
  }
}

@keyframes hide {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
