.wordCompleteContainer {
  background-color: lightblue;
  height: calc(100vh - 10em);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Add vertical scroll if necessary */
  max-height: calc(100vh - 10em);
}

.textArea {
  font-size: 1.3em;
  font-family: "Arial", sans-serif;
  border: 2px solid black;
  padding: 20px;
  white-space: pre-line;
  margin: auto 0; /* This will vertically center the textArea when there's available space */
}

.missingInput {
  font-size: 1.3em;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.missingInput.wrong {
  border-color: red;
  background-color: #ffe6e6;
}

.score {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

.star {
  color: gold;
}

.celebration {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  animation: moveUpDown 1s linear infinite;
  font-size: 5em; /* 3 times the size of the normal font */
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
